<GridLayout class="background">
    <DockLayout class="p-25">
        <StackLayout dock="top">
            <Label text="Sign Up" class="title m-b-5"></Label>
            <StackLayout class="white-box p-t-10">
                <Label text="Lets Join Us" class="title-login big green"></Label>
                <Label text="We would love you to join us" class="title-login small green"></Label>
                <FlexboxLayout justifyContent="center" class="m-y-10">
                    <Button class="button-outline google m-r-30" (tap)="onLoginGoogle()"></Button>
                    <Button class="button-outline facebook" (tap)="onLoginFacebook()"></Button>
                </FlexboxLayout>
                <Label text="We have multiple options for you to join us" class="title-login small pink m-b-10"></Label>
                <TextField class="tf-gray user green m-b-5 m-x-10" hint="Username" autocapitalitionType="none"></TextField>
                <TextField [(ngModel)]="email" class="tf-gray email green m-b-5 m-x-10" hint="Email Address" keyboardType="email" autocapitalitionType="none"></TextField>
                <TextField [(ngModel)]="password" class="tf-gray password green m-l-5 m-x-10" hint="Password" secure="true"></TextField>
                <Button class="button button-second arrow m-b-15" (tap)="onRegister()"></Button>
            </StackLayout>
        </StackLayout>
        <GridLayout dock="bottom" columns="*, *">
            <Button class="button button-one-inverse" col="0" text="Sing In" nsRouterLink="/" pageTransition="slide"></Button>
            <Button class="button button-second" col="1" text="Sign Up"></Button>
        </GridLayout>
    </DockLayout>
</GridLayout>