TabStripItem Label {
    color: $color_gray;
    opacity: 0.5;
}

TabStripItem:active Label {
    color: $color_violet;
}

TabStripItem Image {
    color: $color_gray;
}

TabStripItem:active Image {
    color: $color_violet;
}

.fs {
    font-size: 36;
}