<GridLayout rows="160, *">
    <StackLayout row="0" class="background-home">
        <Label text="Home" class="title"></Label>
        <Label text="Search restaurants" class="label-search"></Label>
        <StackLayout class="white-box p-10 m-t-5">
            <GridLayout columns="25, *, 25">
                <Image col="0" class="center" src="res://ic_search_violet" stretch="none"></Image>
                <TextField class="m-l-10 tf-gray search" col="1" hint="Search restaurant" color="#78849e" (returnPress)="onReturnPress($event)" returnKeyType="done"></TextField>
                <Image col="2" class="center" src="res://ic_filter" stretch="none"></Image>
            </GridLayout>
        </StackLayout>
    </StackLayout>
    <RadListView row="1" [items]="data">
        <ng-template let-item="item">
            <MDCardView class="m-10" elevation="4" (tap)="onNavigate(item)">
                <StackLayout class="white-box">
                    <Image [src]="item.restaurant.thumb" stretch="fill" height="100"></Image>
                    <StackLayout class="p-5">
                        <Label [text]="item.restaurant.name" textWrap="true"></Label>
                        <Label class="label" [text]="item.restaurant.location.address" textWrap="true"></Label>
                    </StackLayout>
                </StackLayout>
            </MDCardView>
        </ng-template>
        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="2"></ListViewStaggeredLayout>
    </RadListView>
</GridLayout>