<BottomNavigation selectedIndex="0">

    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <TabStrip>
        <TabStripItem>
            <Label text="Home"></Label>
            <Image class="fa fs" src="font://&#xf015;"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Others"></Label>
            <Image class="fa fs" src="font://&#xf0ce;"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Alerts"></Label>
            <Image class="fa fs" src="font://&#xf0f3;"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="User"></Label>
            <Image class="fa fs" src="font://&#xf007;"></Image>
        </TabStripItem>
    </TabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <TabContentItem>
        <GridLayout>
            <ns-restaurants></ns-restaurants>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Others Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Alerts Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <ns-profile></ns-profile>
        </GridLayout>
    </TabContentItem>

</BottomNavigation>